<% if @items.one? %>
  <%= render Nav::Item.new(**@items.compact.first) %>
<% else %>
  <div>
    <% @items.each do |item| %>
      <%= render Nav::Item.new(**item) %>
    <% end %>
  </div>
<% end %>
